# Python Basics - Data Types, Data Structures, Variables and Statements

---

## Data Types:

Integer:

In [1]:
1

1

In [2]:
1+1

2

In [3]:
1*(2+2)

4

---

Float:

In [4]:
float(1)

1.0

In [5]:
int(1.4)

1

In [6]:
int(1.6)

1

In [10]:
round(1.6)

2

In [13]:
round(1.699999)

2

In [12]:
round(1.699999, 2)

1.7

In [14]:
from math import ceil
ceil(1.2)

2

In [15]:
import math
math.floor (1.9)

1

---

String:

In [17]:
"a"

'a'

In [18]:
'a'

'a'

In [19]:
'Hello'

'Hello'

In [20]:
print("Hello World!")

Hello World!

In [21]:
'Hello' + ' ' + "World!"

'Hello World!'

In [22]:
"Hello World!".split(" ")

['Hello', 'World!']

---

Boolean

In [101]:
True

True

In [102]:
True == 1

True

In [103]:
True == 0

False

In [104]:
True == False

False

In [105]:
1 == 1

True

In [107]:
5 == 5

True

In [113]:
10 < 10

False

In [114]:
10 <= 10

True

In [117]:
10 != 10

False

In [118]:
10 != 15

True

### Check a data type:

In [108]:
type(True)

bool

In [109]:
type(1)

int

In [110]:
type([1,2,3,4])

list

In [112]:
type(1) == int

True

## Data Structures:

List:

In [23]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [24]:
[1,2,3,4,5][1]

2

In [25]:
[1,2,3,4,5][3]

4

In [26]:
[1,2,3,4,5][:-3]

[1, 2]

In [27]:
[1,2,3,4,5][3:]

[4, 5]

In [28]:
[1,2,3,4,5][-3:]

[3, 4, 5]

In [43]:
["bob", "mary", "john"]

['bob', 'mary', 'john']

In [44]:
["bob", "mary", "john", 2]

['bob', 'mary', 'john', 2]

Dictionary:

In [29]:
dict()

{}

In [30]:
{}

{}

In [32]:
{"Bob": 1, "Mary": 2}

{'Bob': 1, 'Mary': 2}

In [33]:
{"Bob": 1, "Mary": 2}['Bob']

1

In [35]:
{"Bob": 1, "Mary": 2}['Mary']

2

In [36]:
{"Bob": 1, "Mary": 2}.keys()

dict_keys(['Bob', 'Mary'])

In [37]:
{"Bob": 1, "Mary": 2}.values()

dict_values([1, 2])

In [38]:
{"Bob": 1, "Mary": 2}.items()

dict_items([('Bob', 1), ('Mary', 2)])

In [41]:
{"Bob": [1, "apple"], "Mary": [2, 3]}

{'Bob': [1, 'apple'], 'Mary': [2, 3]}

---

Tuple:

In [49]:
("bob", "mary")

('bob', 'mary')

In [50]:
("bob", "mary")[1]

'mary'

In [51]:
("bob", "mary")[1] = "charles"

TypeError: 'tuple' object does not support item assignment

In [53]:
l = ["bob", "mary"]
l[1] = "charles"
l

['bob', 'charles']

---

### Set:
List with unique values.

In [10]:
l = [1,2,3,4,5,5,5,5]
set(l)

{1, 2, 3, 4, 5}

---

### DataFrame:
Organized, spreadsheet-like structure with SQL-like functionalities, perfect for working with data cleaninf, modeling and visualizations.

In [42]:
import pandas as pd
pd.DataFrame({"Bob": [1, "apple"], "Mary": [2, 3]})

     Bob  Mary
0      1     2
1  apple     3

---

## Variables:

In [45]:
a = 1
b = 1

In [46]:
a+b

2

In [47]:
l = [1,2,3,4,5]

In [48]:
l

[1, 2, 3, 4, 5]

**!Cannot call variables built-in function names!**
* For more information on this as well as how to organize your python code better so that it is understood by other python programmers you can refer to the [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/)

* Note that if using an interpreter you will always know if you're using a built-in function name since it will be highlighted in color (e.g. in green in Jupyter Notebook)

In [55]:
list()

[]

In [56]:
list = [1,2]

In [57]:
list

[1, 2]

In [60]:
list()

TypeError: 'list' object is not callable

In [63]:
d = dict()

In [64]:
d["kevan"] = 4

In [65]:
d

{'kevan': 4}

---

## Statements

For Loop:

In [75]:
l = ["bob", "mary", "charles"]

In [76]:
for i in l:
    print(i)

bob
mary
charles

In [77]:
for key, value in d.items():
    print(key, "HELLO", value)

kevan HELLO 4

In [78]:
for i in range(len(l)):
    print(i)

0
1
2

In [79]:
for i in range(len(l)):
    l[i]+="_cambridge"

In [80]:
l

['bob_cambridge', 'mary_cambridge', 'charles_cambridge']

---

While Loop:

In [98]:
cpt = 0

In [99]:
while cpt <= 10:
    print("Hello", cpt)
    cpt += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [100]:
while cpt <= 10:
    print("Hello", cpt)
    cpt += 1
else:
    print("Counter above 10!", cpt)

Counter above 10! 11

---

If/Else:

In [119]:
cpt = 0

In [120]:
if cpt == 0:
    print("That is True!")
else:
    print("Nop!")

That is True!

In [122]:
cpt = 10

In [123]:
if cpt == 0:
    print("That is True!")
else:
    print("Nop!")

Nop!

In [124]:
if cpt == 0:
    print("That is True!")
elif cpt == 10:
    print("Yep! That was a 10!")
else:
    print("Nop!")

Yep! That was a 10!

---

and & or:

In [1]:
a = 3
b = 4

In [2]:
if b <= 4 and a >= 3:
    print("Yes!")
else:
    print("Nop!")

Yes!

In [3]:
a = 3
b = 5

In [4]:
if b <= 4 and a >= 3:
    print("Yes!")
else:
    print("Nop!")

Nop!

---

break and continue:

In [1]:
for let in "string":
    if let == "i":
        break
    print(let)

s
t
r

In [2]:
for val in "string":
    if val == "i":
        continue
    print(val)

s
t
r
n
g

---

Comments:

**First Rule of Programming: Always Comment!**

In [5]:
# This is a comment:

In [6]:
# Here I am assigning the "Mary" value to variable a:
# I will then return its second letter, because I need to know what it is!

a = "mary"
a[1]

'a'

In [9]:
# 1 + 1
# print("Hello World!")

In [8]:
"""
This will be a very long comment therefore I put in in-between tripple quotes.

Lorem ipsum dolor sit amet, consulatu patrioque ea has. 
Ne omnis lucilius incorrupte ius, at indoctum corrumpit duo, unum minimum iudicabit ad pro. 
Feugait perfecto at eum. Et dicit simul voluptaria sea, quo in veritus voluptua.

Est nostro evertitur ex, pri an modo imperdiet, cu simul docendi antiopam pro. 
Dico duis deleniti id mei. 
Ea mel reque paulo necessitatibus, numquam vulputate constituam cu ius, his ad odio hinc contentiones. 
Idque simul per ex, ut vel adhuc fierent ocurreret.

print("Hello")
"""

'\nThis will be a very long comment therefore I put in in-between tripple quotes.\n\nLorem ipsum dolor sit amet, consulatu patrioque ea has. \nNe omnis lucilius incorrupte ius, at indoctum corrumpit duo, unum minimum iudicabit ad pro. \nFeugait perfecto at eum. Et dicit simul voluptaria sea, quo in veritus voluptua.\n\nEst nostro evertitur ex, pri an modo imperdiet, cu simul docendi antiopam pro. \nDico duis deleniti id mei. \nEa mel reque paulo necessitatibus, numquam vulputate constituam cu ius, his ad odio hinc contentiones. \nIdque simul per ex, ut vel adhuc fierent ocurreret.\n\nprint("Hello")\n'

---

Errors and Exceptions Catching (**A bit advanced!**):

In [125]:
while True: 
    x = int(input("Please enter a number: "))
    break

Please enter a number: 4

In [126]:
while True: 
    x = int(input("Please enter a number: "))
    break

Please enter a number: Bob

ValueError: invalid literal for int() with base 10: 'Bob'

In [ ]:
while True: 
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

Please enter a number: Bob
Oops!  That was no valid number.  Try again...